
body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
}


/* ヘッダー */

h1 {
    border: solid 1px #000000;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
}

/* ナビゲーション */
nav {
    text-align: right;
    font-size: 34px;
    padding-top: 10px;
}

ul {
    display: flex;
    padding-left: 0;
}

li {
    margin-left: 20px;
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
}

.main-visual {
    width: 100%;
}

#about, #works {
    max-width: 1080px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin: 50px 0;
}

.flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    border-radius: 50%;
}

.about-right {
    margin-left: 100px;
}

.flex2 {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.flex2 div {
    width: 25%;
}

.flex2 div img {
    width: 100%;
}

#copyright {
    text-align: center;
    font-size: 18px;
}

/* スマートフォン用 */
@media screen and (max-width: 767px) {
    body {
        min-width: 390px;
        margin: 0;
    }

    h1 {
        margin: 20px 0 30px 20px;
        font-size: 24px;
    }

    nav {
        font-size: 22px;
        margin-right: 20px;
    }

    .main-visual {
        max-width: 100%;
    }

    .flex1 {
        display: flex;
        flex-direction: column;
    }

    .about-right {
        margin: 0 30px;
    }

    h2 {
        font-size: 28px;
        margin: 30px;
    }

    h3 {
        font-size: 28px;
        margin: 0;
    }

    .works {
        padding-top: 30px;
    }

    .flex2 div {
        width: 100%;
    }

    .flex2 {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

}